/* pc.css */

body {
  background: lightsalmon;
}

header {
  background: #000;
  max-width: 1400px;
  margin: 0 auto;
}

header nav {
  padding: 20px;
  text-align: center;
}

header nav a {
  color: #fff;
  margin-right: 2em;
  margin-left: 2em;
}

#main-title {
  background: #999;
  height: 400px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px;
  background-image: url("../img/title-bg.jpg");
  color: #fff;
  background-size: cover;
}

main .container {
  display: flex;
}

main .container article {
  width: 50%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 40px;
}

ul li {
  margin-bottom: 10px;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

main .container article:last-child {
  background: rgb(211, 138, 109);
}